:where([inert]) {
	filter: brightness(1.3) contrast(0.8);
	transform: scale(0.99);
}

:where(field) {
	display: inline-flex;
	flex-flow: row wrap;
	padding: var(--space-small);
	max-width: 800px;
	align-self: center;
	align-self: baseline;
	text-decoration: none;
	gap: var(--space-medium);
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
}

:where(form) {
	display: flex;
	flex-flow: column wrap;
	gap: var(--space-medium);
	transition: all 0.3s ease-out;
}

:where(fieldset) {
	padding: var(--space-medium);
	gap: var(--space-medium);
	display: flex;
	flex-flow: column wrap;

	field {
		justify-content: flex-start;
		max-width: none;
		display: flex;
		width: 100%;

		label {
			flex: 200px 0 0;
		}
		 
		input {
			flex: 400px 0 0;
			margin-right: auto;
		}

		.error {
			flex: 100%;
			color: var(--color-red);
		}
	}
}