h4{
	margin: 0;
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
}
h3{
	margin: 0;
	font-size: var(--font-size-medium);
	line-height: var(--line-height-medium);
}
h2{
	margin: 0;
	font-size: var(--font-size-large);
	line-height: var(--line-height-large);
}
h1{
	margin: 0;
	font-size: var(--font-size-huge);
	line-height: var(--line-height-huge);
}